In [1]:
##Three different variables

a=10 
b=25.25
c="hello"

In [2]:
a

10

In [3]:
##variable type complex

d=3+6j

In [5]:
type(d)

complex

In [6]:
d=30

In [7]:
d

30

In [8]:
##swap 2 variables without using 3rd

var1=10
var2=20

In [9]:
temp=var1
var1=var2
var2=temp

In [10]:
var1

20

In [11]:
var2

10

In [13]:
##Takes user input

my_input=int(input("please enter a interger value: "))

please enter a interger value: 6

In [36]:
##2 inputs sum to a variable 


x, y=[int(x) for x in input("Enter 2 values between 1-10: ").split()]
print("The value of x: ",x)
print("The value of y: ",y)
print(x+y)

z=x+y+30
result=z
print(z)

Enter 2 values between 1-10: 5 4
The value of x:  5
The value of y:  4
9
39

In [37]:
z

39

result

In [34]:
result

39

In [39]:
#checking data types
a=5
b="hello"
c=3.6

In [43]:
type(c)

float

In [44]:
type(a)

int

In [45]:
#Uppercamel case, lower, snake
snowFall=10
HenFlock=20
cupcake=30

In [46]:
#data type variable change

Yes, it will change the value, because it is dynamically typed language.

SyntaxError: invalid syntax (<ipython-input-46-eb639618e319>, line 3)

In [52]:
##divisble by 3 and 5 and both
num=[1,2,3,4,5,6,7,8,9,15]


for x in num:
    if x%3==0 and x%5==0:
        print("Consultadd-Python training")
    elif x%5==0:
        print("Python Training")
    elif x%3==0:
        print("Consultadd")
    else:
        print("pass")

pass
pass
Consultadd
pass
Python Training
Consultadd
pass
pass
Consultadd
Consultadd-Python training

In [70]:
## Operator based task

x, y=[int(x) for x in input("Enter 2 values: ").split()]
print("The value of x: ",x)
print("The value of y: ",y)


user_input=int(input("pls enter a value between 1 to 5: "))
if user_input==1:
    if x+y<0:
        print("Negative")
    print(x+y)
if user_input==2:
    if x+y<0:
        print("Negative")
    print(x-y)
if user_input==3:
    if x+y<0:
        print("Negative")
    print(x*y)
if user_input==4:
    if x+y<0:
        print("Negative")
    print(x/y)
if user_input==5:
    if x+y<0:
        print("Negative")
    avg=(x+y)/2
    print(avg)

Enter 2 values: 5 5
The value of x:  5
The value of y:  5
pls enter a value between 1 to 5: 3
25

In [72]:
##flow chart

a=10
b=20
c=30

avg=(a+b+c)/3
print("avg=",avg)

if avg>a and avg>b and avg>c:
    print("average is higher than a,b,c")
elif avg>a and avg>b:
    print("average is higher than a,b")
elif avg>a and avg>c:
    print("average is higher than a,c")
elif avg>b and avg>c:
    print("average is higher than b,c")
elif avg>a:
    print("average is just higher than a")
elif avg>b:
    print("average is just higher than b")
elif avg>c:
    print("average is just higher than c")

avg= 20.0
average is just higher than a

In [83]:
#Break and continue
while True:
    
    user_input=int(input("pls enter a number: "))
    
    if user_input<0:
        print("it's over")
        break
    elif user_input>0:
        print("good going")
        continue

pls enter a number: 5
good going
pls enter a number: 3
good going
pls enter a number: 6
good going
pls enter a number: 7
good going
pls enter a number: -6
it's over

In [93]:
##Write a program in Python which will find all such numbers which are divisible by 7 but are not a
##multiple of 5, between 2000 and 3200.
num=[]
for x in range(2000,3200):
    if x%7==0 and x%5!=0:
        num.append(x)

In [94]:
num

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

In [97]:
##output of code examples
x=1,2,3

for i in x:
    print(i)

1
2
3

In [109]:

i = 0

while i < 5:
    print(i)
    i += 1
    if i == 3:
        break
    else:
        print("error")

0
error
1
error
2

In [112]:
count=3
while True:
    print(count)
    count += 1
    if count >= 5:
        break

3
4

In [115]:
#Write a program that prints all the numbers from 0 to 6 except 3 and 6.
output=[]

for x in range(0,7):
    while x!=3 and x!=6:
        output.append(x)
        break

In [116]:
output

[0, 1, 2, 4, 5]

In [117]:
for x in range(0,7):
    if x==3 or x==6:
        continue
    else:
        print(x)

0
1
2
4
5

In [119]:
##Write a program that accepts a string as an input from the user and calculate the number of digits
##and letters.
sample_input=input("enter some words: ")

number=0
string=0

for x in sample_input:
    if (x.isalpha()):
        string=string+1
    elif (x.isnumeric()):
        number=number+1
print("Number of string: ",string)
print("number of number: ",number)

enter some words: hello123
Number of string:  5
number of number:  3

In [141]:
##guess the number
a=10

while True:
    number=int(input("please enter a number: "))
    if number==a:
        print("you have guessed right")
        break

    answer=input("Do u want to continue Y or N: ")
    if answer=='Y':
        print("U wish to continue")
        continue
    elif answer=='N':
        break
    else:
        print('You have entered invalid option')

please enter a number: 10
you have guessed right

In [144]:
###Write a program that asks five times to guess the lucky number.
a=10
counter=1

while counter<=5:
    user_input=int(input("Pls enter your guess: "))
    if user_input==a:
        print("Good Guess")
        break
    else:
        print("Try Again")
    counter+=1
else:
    print("Game Over")

Pls enter your guess: 5
Try Again
Pls enter your guess: 4
Try Again
Pls enter your guess: 2
Try Again
Pls enter your guess: 10
Good Guess

In [145]:
##Create a list of 10 elements of four different data types like int, string, complex and float.

my_list=[3,"reash",4j,3.25]

In [146]:
my_list

[3, 'reash', 4j, 3.25]

In [147]:
##Create a list of size 5 and execute the slicing structure

size_list=['apple','orange','grape','melon','fruit']

In [148]:
size_list[3]

'melon'

In [149]:
size_list[2:]

['grape', 'melon', 'fruit']

In [150]:
##Write a program to get the sum and multiply of all the items in a given list.
num_list=[1,2,3,4,5]

In [152]:
sum(num_list)

15

In [154]:
new_list=1
for x in num_list:
    new_list=new_list*x
print(new_list)

120

In [155]:
##Find the largest and smallest number from a given list.

la_list=[10,20,30,40,50]

small_num=la_list[0]
large_num=la_list[0]

for x in la_list:
    if x<small_num:
        small_num=x
    if x>large_num:
        large_num=x

print(large_num)
print(small_num)

50
10

In [156]:
##Create a new list which contains the specified numbers after removing the even numbers from a
##predefined list.

pre_list=[1,2,3,4,5,6,7,8,9,10]

new_list=[]

for x in pre_list:
    if x%2==1:
        new_list.append(x)
print(new_list)

[1, 3, 5, 7, 9]

In [170]:
##Create a list of elements such that it contains the squares of the first and last 5 elements between
##1 and30 (both included).

ele_list=range(1,31)

first_five=[]
last_five=[]
for x in ele_list[0:5]:
    
    first_five.append(x*x)
print(first_five)

for x in ele_list[-5:]:
    
    last_five.append(x*x)
print(last_five)

[1, 4, 9, 16, 25]
[676, 729, 784, 841, 900]

In [173]:
##Write a program to replace the last element in a list with another list.

sample_list=[1,3,5,7,9,10]
sample2_list=[2,4,6,8]

sample_list.pop(-1)
for x in sample2_list:
    sample_list.append(x)
print(sample_list)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [193]:
##Create a new dictionary by concatenating the following two dictionaries:

sample_a={1:10,2:20}
sample_b={3:30,4:40}
sample_c={}
for d in [sample_a,sample_b]:
    sample_c.update(d)
print(sample_c)

{1: 10, 2: 20, 3: 30, 4: 40}

In [195]:
##Create a dictionary that contain numbers in the form(x:x*x) where x takes all the values between 1
##and n(both 1 and n included).

n=5
d=dict()

for x in range(1,6):
    d[x]=x*x
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [201]:
##Write a program which accepts a sequence of comma-separated numbers from console and
##generates a list and a tuple which contains every number in the form of string.

my_input=input("enter numbers with comma: ")

list=my_input.split(",")
my_tuple=tuple(list)
print('',list)
print('',my_tuple)

enter numbers with comma: 1,2,3
 ['1', '2', '3']
 ('1', '2', '3')

In [203]:
##Write a program to reverse a string.

my_program="123abcd"[::-1]
print(my_program)

dcba321

In [205]:
##Write a function that accepts a string and prints the number of uppercase letters and lowercase
##letters.

user_input=input("Pls enter a sentance: ")

upper_case=0
lower_case=0

for i in user_input:
    if i.islower():
        lower_case+=1
    elif i.isupper():
        upper_case+=1
    else:
        pass
print(upper_case)
print(lower_case)

Pls enter a sentance: Hello How Are You
4
10

In [214]:
##Create a function that takes a list and returns a new list with unique elements of the first list.

def my_func(li):
    
    new_list=[]
    
    for x in li:
        if x not in new_list:
            new_list.append(x)
    return new_list

In [215]:
li=[1,1,2,2,3,4,5,5,6,7,7]

In [216]:
my_func(li)

[1, 2, 3, 4, 5, 6, 7]

In [222]:
##Write a program that accepts a hyphen-separated sequence of words as input and prints the words
##in a hyphen-separated sequence after sorting them alphabetically.

my_seq=input("Pls enter hyphen-seperated sequence of words: ")

my_word=[x for x in my_seq.split('-')]

my_word.sort()

print('-'.join(my_word))

Pls enter hyphen-seperated sequence of words: no-yes-pls-aint-doodle
aint-doodle-no-pls-yes

In [229]:
##Write a program that accepts a sequence of lines as input and prints the lines after making all
##characters in the sentence capitalized.

my_input=input("Pls enter a sentance: ")

print(my_input.upper())

Pls enter a sentance: hello there
HELLO THERE

In [239]:
##Define a function that can receive two integral numbers in string form and compute their sum and
##print it in the console.

def calculatesum(x,y):

    sum=int(x)+int(y)
    print("The sum is:",sum)

In [240]:
calculatesum(5,5)

The sum is: 10

In [249]:
##Define a function that can accept two strings as input and print the string with the maximum length
##in the console. If two strings have the same length, then the function should print both the strings line
##by line.

def mystring(a,b):
    
    a=input("Enter a line: ")
    b=input("Enter a line again: ")
    if len(a)==len(b):
        print(a)
        print(b)
    elif len(a)>len(b):
        print(a)
    elif len(a)<len(b):
        print(b)

In [254]:
mystring(a,b)

Enter a line: four five
Enter a line again: three six
four five
three six

In [211]:
##Define a function which can generate and print a tuple where the values are square of numbers
##between 1 and 20 (both 1 and 20 included).

def printvalue():
    x=[]
   
    for i in range(1,21):
        x.append(i**2)
        
    print(x)

printvalue()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [212]:
printvalue()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [311]:
##Write a function called showNumbers that takes a parameter called limit. It should print all the
##numbers between 0 and limit with a label to identify the even and odd numbers.

def shownumbers(limit):
    for x in range(0,limit):
        if x%2==0:
            print(x,"Even")
        else:
            print(x,"Odd")

In [312]:
shownumbers(4)

0 Even
1 Odd
2 Even
3 Odd

In [327]:
##Write a program which uses filter() to make a list whose elements are even numbers between 1
##and 20 (both included)
    
my_list=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
    
def myfunc(x): 
    return x%2==0
list1=[]
for y in filter(myfunc,my_list):
    list1.append(y)
print(list1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [342]:
##Write a program which uses map() and filter() to make a list whose elements are squares of even
##numbers in [1,2,3,4,5,6,7,8,9,10].

new_list=[1,2,3,4,5,6,7,8,9,10]

def if_even(number):
    if number%2 == 0:
        return True
    else:
        return False

filtered = []
for x in filter(if_even,new_list):
    filtered.append(x)
    
mapped = []
for y in map(lambda y: y*y, filtered):
    mapped.append(y)
    
print(mapped)

[4, 16, 36, 64, 100]

In [346]:
##Write a function to compute 5/0 and use try/except to catch the exceptions

def compute():
    return 5/0

try:
    compute()
except:
    print ("nothing can divisible by 0")
finally:
    print ("no answer")

nothing can divisible by 0
no answer

In [456]:
##Flatten the list [1,2,3,4,5,6,7] into 1234567 using reduce().
import functools
from functools import reduce

reduce(lambda a,d: 10*a+d, [1,2,3,4,5,6,7,8], 0)

# import operator
# from functools import reduce

12345678

In [353]:
mylist=[1,2,3]
joinedstr=''
for y in mylist:
    joinedstr = joinedstr+str(y)
print(joinedstr)

123

In [363]:
##Write a program in Python to find the values which are not divisible by 3 but are a multiple of 7.
##Make sure to use only higher order functions.

def valfunc(number):
    
    if x%3 != 0 and x%7==0:
        return 'True'
    else:
        return 'False'
    
myfunction=valfunc

In [365]:
myfunction(49)

'False'

In [366]:
##Write a program in Python to multiply the elements of a list by itself using a traditional function
##and pass the function to map() to complete the operation.

def multifunc(num):
    return num*num
emptylist=[1,2,3]
for y in map(multifunc,emptylist):
    print(y)

1
4
9

In [369]:
##
def foo():
    try:
        return 1
    finally:
        return 2
k = foo()
print(k)

2

In [373]:
def a():
    try:
        f(x, 4)
    finally:
        print('after f')
        print('after f?')
    a()

In [375]:
##Write a program in Python to allow the error of syntax to be handled using exception handling.
try:
    result=10+'10'
except:
    print("integer and string cant add")
else:
    print(result)

integer and string cant add

In [413]:
##Write a program in Python to allow the user to open a file by using the argv module. If the
##entered name is incorrect throw an exception and ask them to enter the name again. Make sure
##to use read only mode.

import sys

filename = sys.argv[1]
try:
    with open(filename) as f_obj:
        contents = f_obj.read()
        print(contents)
except FileNotFoundError:
    print("Entered file is not found")

Entered file is not found

In [412]:
##Write a program to handle an error if the user entered a number more than four digits it should
##return “The length is too short/long !!! Please provide only four digits”


    
    # define Python user-defined exceptions
class InvalidDigitException(Exception):
    "Raised when length of the input is not equal to 4"
    pass


try:
    input_num = input("Enter a number: ")
    if len(input_num) != 4:
        raise InvalidDigitException
    else:
        print("You have entered a 4 digit number. Good job!")
        
except InvalidDigitException:
    print("The length is too short/long !!! Please provide only four digits")

Enter a number: 1234
You have entered a 4 digit number. Good job!

In [401]:
digit(12345)

The length is too short or long
pls provide only 4 didgits

In [418]:
# Create a login page backend to ask users to enter the username and password. Make sure to
# ask for a Re-Type Password and if the password is incorrect give chance to enter it again but it
# should not be more than 3 times.

print("Enter your user name and password: ")

count=0

while count<3:
    username=input("Enter username: ")
    password=input("Enter password: ")
    
    if password=='Reash' and username=='Reashme':
        print("Access granted")
        break
    else:
        print("Access Denied")
        count=count+1

Enter your user name and password:
Enter username: dj
Enter password: lkj
Access Denied
Enter username: Reashme
Enter password: Reash
Access granted

In [466]:
##Read doc.txt file using Python File handling concept and return only the even length string from
##the file. Consider the content of doc.txt as given below:

text_file=open('C:\\Users\\velsa\\doc.txt','r')

line_list=text_file.readlines()
print(line_list)

for line in line_list:
    if len(line)%2==0:
        print(line)
        
text_file.close()

['Hello I am a file\n', 'Where you need to return the data string\n', 'Which is of even length\n', 'Make sure you return the content in The same link as it is present.']
Hello I am a file

Which is of even length

In [380]:
##Write a program in Python to find out the character in a string which is uppercase using list
##comprehension.
newstring="Hello This is reashme"

newlist=[]

for x in newstring:
    if x.isupper():
        newlist.append(x)
print(newlist)

['H', 'T']

In [383]:
##Write a program to construct a dictionary from the two lists containing the names of students and
##their corresponding subjects. The dictionary should map the students with their respective subjects.
##Let’s see how to do this using for loops and dictionary comprehension.

keys=['reash','savy','anu']
values=['IT','Mech','EEE']
    
dictonar=dict(zip(keys,values))
print(dictonar)

{'reash': 'IT', 'savy': 'Mech', 'anu': 'EEE'}

In [390]:
##Write a program in Python using generators to reverse the string.

def rev_string(new_str):
    length=len(new_str)
    for i in range (length-1,-1, -1):
        yield new_str[i]
        
for x in rev_string("consultadd"):
    print(x)

d
d
a
t
l
u
s
n
o
c

In [392]:
##Write an example on decorators.
def say():
    print("Hello")
def mydec(first):
    first()
    print("how are you?")
mydec(say)

Hello
how are you?

In [472]:
##Write a program that calculates and prints the value according to the given formula:
##Q= Square root of [(2*C*D)/H]
##Following are the fixed values of C and H:
import math

def squ_root(n):
    
   # myinput=int(input("Enter a value: "))
    c=50
    h=30
    
    print(math.sqrt((2*50*n)/30))

In [473]:
squ_root(20)

8.16496580927726

In [477]:
import math

C= 50
H = 30
Ds = []
result =[]
Dv=input("enter the value of D\n")

Ds=Dv.split(",")

Ds = [int(i) for i in Ds]

i=0
l = len(Ds)
while(i<l):
    Q = round(math.sqrt((2*C*Ds[i])/H))
    result. append(Q)
    i+=1
print("output=",result)

enter the value of D
100,150,180
100,150,180
['100', '150', '180']
[100, 150, 180]
output= [18, 22, 24]

In [526]:
# Define a class named Shape and its subclass Square. The Square class has an init function which
# takes length as argument. Both classes have an area function which can print the area of the shape
# where Shape’s area is 0 by default.

class Shape:
    
    
    def __init__(self):
        pass

    def area(self,area=0):
        print(area)
        
class Square(Shape):
    
    def __init__(self,length):
        self.length=length
    def area(self):
        print(self.length*self.length)

In [527]:
my_shape=Shape()

In [528]:
my_shape.area()

0

In [529]:
my_square=Square(5)

In [530]:
my_square.area()

25

In [220]:
#Create a class to find three elements that sum to zero from a set of n real numbers

class Elements():
    
    def __init__(self):
        pass
        
    def findTriplets(arr):
        n = len(arr)
        found = False
        for i in range(0, n-2):

            for j in range(i+1, n-1):

                for k in range(j+1, n):

                    if (arr[i] + arr[j] + arr[k] == 0):
                        print(arr[i], arr[j], arr[k])
                        found = True

        # If no triplet with 0 sum
        # found in array
        if (found == False):
            print(" not exist ")
 
 
# Driver code
Elements.findTriplets([-25,-10,-7,-3,2,4,8,10])

-10 2 8
-7 -3 10

In [23]:
# Write a Person class with an instance variable “age” and a constructor that takes an integer as a
# parameter. The constructor must assign the integer value to the age variable after confirming the
# argument passed is not negative; if a negative argument is passed then the constructor should set
# age to 0 and print “Age is not valid, setting age to 0”. In addition, you must write the following instance
# methods:

class Person:
    def __init__(self,firstAge):
        
        self.age=firstAge
        if self.age <= -1:
            self.age=0
            print("Age is not valid, setting age to 0.")
            
    def yearsold(self):
        if self.age < 13:
            print("You are young.")
        elif 13 <= self.age < 18:
            print("You are a teenager.")
        else:
            print("You are old.")
            
    def yearPasses(self,agetoadd):
        self.age+=agetoadd
        print("Your age is: " +str(self.age))

p1 = Person(10)

In [24]:
my_person=Person(10)

In [26]:
my_person.age

10

In [28]:
my_person.yearsold()

You are young.

In [30]:
my_person.yearPasses(5)

Your age is: 15

In [71]:
##Create a Time class and initialize it with hours and minutes.

class Time:
    
    def __init__(self,hours,minutes):
        self.hours=hours
        self.minutes=minutes
        
    def addtime(t1,t2):
        t3=Time(0,0)
        if (t1.minutes+t2.minutes)>=60:
            t3.hours=(t1.minutes+t2.minutes)//60
            t3.hours=t1.hours+t2.hours+t3.hours
            t3.minutes=((t1.minutes+t2.minutes)-60)
            return t3
        else: 
            t3.hours=t1.hours+t2.hours
            t3.minutes=t1.minutes+t2.minutes
            return t3
    
    def displayTime(self):
        print("Hours: "+str(self.hours))
        print("Minutes: "+str(self.minutes))
        
    def displayMinute(self):
        print((self.hours*60)+self.minutes)
        
a=Time(1,20)
b=Time(2,30)
c=Time.addtime(a,b)
c.displayTime()
c.displayMinute()

Hours: 3
Minutes: 50
230

In [88]:
##Create a list of given structure and get the Access list as provided below:

x=[100,200,300,400,500,[1,2,3,4,5,[10,20,30,40,50],6,7,8,9],600,700,800]

x[5][0:4]

[1, 2, 3, 4]

In [90]:
x[6:8]

[600, 700]

In [91]:
x[0:5]

[100, 200, 300, 400, 500]

In [93]:
x[5][5][0]

10

In [94]:
x[:-1]

[100,
 200,
 300,
 400,
 500,
 [1, 2, 3, 4, 5, [10, 20, 30, 40, 50], 6, 7, 8, 9],
 600,
 700]

In [104]:
#Create a list of thousand numbers using range and xrange and see the difference between each
#other.

for i in range (0,1001):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000

In [105]:
end=1000
x= xrange(end)
print(x)
for n in x:
    print(n)

NameError: name 'xrange' is not defined

In [108]:
##How Tuple is beneficial as compared to the list?

##Tuples are immutable and more memory efficient.

In [112]:
##Write a program in Python to iterate through the list of numbers in the range of 1,100 and print
##the number which is divisible by 3 and is a multiple of 2.

count=[]

for x in range(1,101):
    if x%3==0 and x%2==0:
        count.append(x)
        
print(count)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [133]:
##Write a program in Python to reverse a string and print only the vowel alphabet if it exists in the
##string with their index.

vowel=""

word_string="apple iowa clue"


for x in word_string:
    if x in "aeiouAEIOU":
        vowel=vowel+x
        
index=word_string.index('a')
index1=word_string.index('e')
index2=word_string.index('i')
index3=word_string.index('o')
index4=word_string.index('u')
print(vowel)
print(word_string[::-1])
print("index of a: ",index)
print("index of e: ",index1)
print("index of i: ",index2)
print("index of o: ",index3)
print("index of u: ",index4)

aeioaue
eulc awoi elppa
index of a:  0
index of e:  4
index of i:  6
index of o:  7
index of u:  13

In [136]:
##Write a program in Python to iterate through the string “hello my name is abcde” and print the
##string which is having an even length.

my_string="hello my name is reash"

x=my_string.split()

result=[]

for i in x:
    if len(i)%2==0:
        result.append(i)
        print(i)

my
name
is

In [141]:
##Write a program in python to print the pair of numbers whose sum is equal to the result
##number that is let's say 8.

def printPairs(arr, n, sum):
 
    
    for i in range(0, n ):
        for j in range(i + 1, n ):
            if (arr[i] + arr[j] == sum):
                print("(", arr[i],
                      ", ", arr[j],
                      ")", sep = "")
 
 

arr =[1,2,3,4,5,6,7,8,9,-1]
n = len(arr)
sum = 8
printPairs(arr, n, sum)

(1, 7)
(2, 6)
(3, 5)
(9, -1)

In [156]:
##Write a program in Python to complete the following task:
##Create two lists such as even_list and odd_list

evenlist=[]
oddlist=[]

for i in range(0,51):
    
    user_input=int(input("pls enter a number between 1-50: "))
    
    if i%2==0:
        evenlist.append(i)
        if len(evenlist)>=5:
            break
    elif i%2==1:
        oddlist.append(i)
        if len(oddlist)>=5:
            break
            
total_even = 0
total_odd = 0

for i in evenlist:
    total_even = total_even + i
for i in oddlist:
    total_odd = total_odd + i
    
# total_even = sum(evenlist)
# total_odd = sum(oddlist)

print(total_even)
print(total_odd)
sum1=max(evenlist)
sum2=max(oddlist)
print(evenlist)
print(oddlist)
print("The max number in evenlist: ",sum1)
print("The max number is odddlist: ",sum2)

pls enter a number between 1-50: 1
pls enter a number between 1-50: 2
pls enter a number between 1-50: 3
pls enter a number between 1-50: 4
pls enter a number between 1-50: 5
pls enter a number between 1-50: 6
pls enter a number between 1-50: 7
pls enter a number between 1-50: 8
pls enter a number between 1-50: 9
20
16
[0, 2, 4, 6, 8]
[1, 3, 5, 7]
The max number in evenlist:  8
The max number is odddlist:  7

In [180]:
#Write a program to find out the occurrence of a specific character from an alphanumeric string.

#def alpha_string(mystring):
from collections import Counter

mystring="12abcbacbaba344ab"    
    
alphabet = list(string.ascii_letters)
    
alpha1=[]

    
for x in mystring:
    if x in alphabet:
        alpha1.append(x)
    
            
print(alpha1)
Counter(alpha1)

['a', 'b', 'c', 'b', 'a', 'c', 'b', 'a', 'b', 'a', 'a', 'b']

Counter({'a': 5, 'b': 5, 'c': 2})

In [190]:
##Generate and print another tuple whose values are even numbers in the given tuple

    
my_tuple=(1,2,3,4,5,6,7,8,9,10)

eventuple=[]

for i in my_tuple:
    if i%2==0:
        eventuple.append(i)
        
print(tuple(eventuple))

(2, 4, 6, 8, 10)